.container button{
    /* TODO COLORS */
    padding:10px 15px;
    cursor:pointer;
    width: 180px;
    border:none;
    background-color: #ffffff;
}
.container button:hover{
    background-color: #b0a8a8;
}
.contents{
    display: block;
    color: #ffffff;
    text-decoration:none;
}
.container .contents{
    display:none;
    position:absolute;
    background-color: aliceblue;
    min-width: 100px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.8);
}
.container:hover .contents{
    display:block;
}