:root {
  /* Colors */
  --clr-primary-400: hsla(222.09, 78.82%, 50%, 1);
  --clr-primary-400-semi-transparent: hsla(222.09, 78.82%, 50%, 0.5);
  --clr-accent-400: hsla(251.94, 78.82%, 50%, 1);
  --clr-accent-400-semi-transparent: hsla(251.94, 78.82%, 50%, 0.5);
  --clr-accent-100: #FFFFFF;
  --clr-accent-100-semi-transparent: hsla(191.94, 78.82%, 50%, 0.5) ;

  /* Font weights */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;

  /* Font sizes */
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2.5rem;
  --fs-700: 3rem;
  --fs-800: 4rem;
  --fs-900: 6rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-third-heading: var(--fs-500);
  --fs-nav: var(--fs-400);
  --fs-button: var(--fs-400);

  /* Sizes */
  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.25rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.5rem;
  --size-800: 3.125rem;
  --size-900: 10rem;

  --gap-400: 2.875rem;
}

@media (min-width: 60rem) and (max-width: 80.9375rem) {
  :root {
    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-third-heading: var(--fs-500);
    --fs-nav: var(--fs-400);
    --fs-button: var(--fs-400);
  }
}

@media (min-width: 81rem) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-third-heading: var(--fs-600);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-500);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  overflow-x: clip;
  width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styles */
h1 {
  line-height: 1.1;
  font-family: var(--fs-primary-heading);
  font-size: var(--fs-primary-heading);
}

body {
  background-color: var(--clr-accent-100);
  font-size: var(--fs-body);
}

a {
  font-size: var(--fs-body);
  color: var(--clr-accent-400);
}

a:hover {
  color: var(--clr-accent-400);
  transition: 0.3s ease-in-out;
}

p {
  font-size: var(--fs-body);
}


.mainLayout {
  min-height: 100vh;
  display: grid;
  /* gap: 3.25rem; */
  grid-template-rows: auto 1fr auto;
}

.mainContent {
  padding-top: 2.6rem;
  padding-inline: 1.5rem;
  padding-bottom: 2.6rem;
  display: grid;
  gap: 3.25rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

@media screen and (min-width: 60rem) {
  .container {
    padding-inline: 3rem;
  }

  .mainContent {
    padding-top: 6rem;
    display: grid;
    gap: 7.25rem;
    padding-bottom: 6rem;
  }
}