.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.create{
   max-width: 700px;
}

.loginContainer{
    align-content: center;
}
.button{
    width:250px;
    font-size:25px;
    background-color: #6f6fff;
    color:white;
    border-radius: 20px;
    border-style: hidden;
    outline: 0;
}
.button:hover{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color:inherit;
}
